.edit-profile-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.edit-profile-form {
    width: 600px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-left: 16%;
    margin-bottom: 20px;

}


.edit-profile-form h2 {
    margin-bottom: 50px;
    text-align: center;
    color: #6F4E90;
    font-weight: bold;
}

.edit-profile-form label {
    display: inline;
    margin-bottom: 5px;

}

.edit-profile-form input[type="text"],
.edit-profile-form input[type="email"],
.edit-profile-form input[type="tel"],
.edit-profile-form input[type="password"] {
    width: 64%;
    padding: 15px;
    margin-bottom: 15px;
    border: 2px solid #6F4E90;
    border-radius: 12px;
    margin-left: 15%;
    display: inline;

}
.edit-profile-form input[type="text"]:focus,
.edit-profile-form input[type="email"]:focus,
.edit-profile-form input[type="tel"]:focus,
.edit-profile-form input[type="password"]:focus {
    border-color: #8CCC88;
    outline: none;

}

.file-input-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 15%;
}

.file-input-container label {
    margin-right: 10px;
    font-size: 16px;
    color: #6F4E90;
    font-weight: bold;
}

.file-input-container img {
    vertical-align: middle;
    width: 24px;
    height: auto;
}
.edit-profile-form .choose-file-button {
    background-color: transparent;
    color: #6F4E90;
    padding: 5px 10px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    margin-right: 30px;
}
.choose-file-button:hover {
    color: #8CCC88;
}
.edit-profile-form .save-button {
    width: 70%;
    padding: 15px;
    background-color: #6F4E90;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 15px;
    margin-left: 15%;
}

.edit-profile-form .save-button:hover {
    background-color: #8CCC88;
}

